<style>
#map {
	height: 100%;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.hidden {
	display: none;
}
</style>

<script type="text/javascript">
function initMap() {

  // gmaps below
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: new google.maps.LatLng(33.65266036987305, -117.99491119384766),
  });

  function addMarker(vehicle) {
    var marker = new google.maps.Marker({
      position: vehicle.position,
      title: vehicle.title,
      icon: {
        path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
        scale: 5,
        rotation: vehicle.rotation
      },
      map: map
    });
  };

  var vehicles = [
    <% @vehicle_hashes.each do |h| %>
    {
      position: new google.maps.LatLng(<%= h['lat'] %>, <%= h['long'] %>),
      title: "<%= h['id'] %>",
      rotation: <%= h['bearing'] %>
    },
    <% end %>
  ];
  for (var i = 0, vehicle; vehicle = vehicles[i]; i++) {
    addMarker(vehicle);
  }
}
</script>

<p>
	<div id="map"></div>
</p>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgPwbIdgTuxCACN74iyxdNrCvMUCleEFs&callback=initMap"
    async defer></script>